<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
        <meta name="generator" content="Hugo 0.84.0" />
        <title>User Profile</title>

        <!-- Bootstrap core CSS -->

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />

        <!-- Custom styles for this template -->
        <link href="/css/dashboard.css" rel="stylesheet" />
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Reforestando</a>
            <button
                class="navbar-toggler position-absolute d-md-none collapsed shadow-none border-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <div class="w-100 bg-dark d-none d-md-block "></div> -->
            <div class="navbar-nav">
                <div class="nav-item text-nowrap d-none d-md-block">
                    <a class="nav-link px-3" href="/api/users/logout">Cerrar sesión</a>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse shadow-none top-0 start-0">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="/api/users"> Inicio </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api/events"> Galeria </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/donaciones"> Donaciones </a>
                            </li>
                                <li class="nav-item">
                                <a class="nav-link " href="/api/users/perfil"> Perfil </a>
                            </li>
                            </li>
                                <li class="nav-item">
                                <a class="nav-link active" href="/api/events/all"> Eventos </a>
                            </li>


                            </li class="">
                                <li class="nav-item d-md-none">
                                <a class="nav-link" href="/api/users/logout"> Cerrar Sesion </a>
                            </li>

                            
                           
                        </ul>
                    </div>
                </nav>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 row">
                    <h2>Galeria de Imagenes</h2>

                    <div class="col-3" style="height: 300px;">
                        <img src="https://cdn0.ecologiaverde.com/es/posts/9/6/2/que_es_la_reforestacion_definicion_sencilla_1269_0_600.jpg" alt="imagen1" class="img-fluid rounded img-thumbnail w-100 h-100 ">
                    </div>

                    
                    <div class="col-3" style="height: 300px;">
                        <img src="https://t4.ftcdn.net/jpg/04/52/53/41/360_F_452534139_QHE591K82hdhPBYJl2fNVmKkheSmiLu5.jpg" alt="imagen1" class="img-fluid rounded img-thumbnail w-100 h-100 ">
                    </div>


                    
                    <div class="col-3" style="height: 300px;">
                        <img src="https://noticiasgreen.files.wordpress.com/2021/06/img-20210618-wa0042.jpg?w=1024" alt="imagen1" class="img-fluid rounded img-thumbnail w-100 h-100 ">
                    </div>


                    
                    <div class="col-3" style="height: 300px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWeWP2t8iM8v2DoAGNq58jM-wi5fTzjeLZZQ&usqp=CAU" alt="imagen1" class="img-fluid rounded img-thumbnail w-100 h-100 ">
                    </div>


                    
                    <div class="col-3" style="height: 300px;">
                        <img src="https://www.eleconomista.com.mx/__export/1565662526565/sites/eleconomista/img/2019/08/12/shutterstock_1041153076.jpg_1832999950.jpg" alt="imagen1" class="img-fluid rounded img-thumbnail w-100 h-100 ">
                    </div>
                    
               
                </main>

              

            </div>
        </div>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
        ></script>
        <script src="/js/app.js"></script>
    </body>
</html>

