<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Soy la ruta base!</h1>
        <h2>Bienvenido</h2>

        <% if (user) { %>
        <span> <%= user.email %></span>
        <% } %>

        <a href="/logout">logout</a>
        <!-- card -->
        <!-- container -->
    </body>
</html>
